/* << Variables >> */
:root {
    --bg_1: #CCC;
    --bg_2: #FF6347;
    --bg_3: #CF5C35;
    --white: #FFF;
}

/* << Estilos generales >> */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}

#bodyPokeApi {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background-color: var(--bg_3);
}

h1 {
    margin: 80px 0 100px;
}

h1>img {
    width: 80vw;
    height: auto;
}

select::-ms-expand {
    display: none;
}

#typePokemon {
    width: 100%;
    height: 3vw;
    border-radius: 30px;
    padding: 0 20px;
    cursor: pointer;
    background-color: rgb(221 145 119);
    color: var(--white);
    font-size: 1.16rem;
    font-weight: 700;
    border-color: var(--bg_3);
    background-image: url(../img/caret-down-solid.svg);
    background-size: 1vw;
    color: white;
    background-repeat: no-repeat;
    background-position: right center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

#tableMainBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 380px;
    gap: 20px;
}

#tableMainBody .mainCard {
    border: 1px solid rgba(255, 255, 255, .05);
    position: relative;
    border-radius: 4%;
    display: flex;
    align-items: center;
    box-shadow: -7px 11px 16px rgba(0, 0, 0, .3);
    margin-top: 40px;
}

#tableMainBody .contentCard {
    width: 100%;
    padding-top: 5vw;
}

#tableMainBody .mainCard .contentCard img.poke-image {
    width: 170px;
    height: 194px;
    object-fit: contain;
    filter: drop-shadow(10px 6px 5px);
    position: absolute;
    top: -9%;
    left: calc(50% - 85px);
    bottom: 0;
    right: 0;
}

#tableMainBody .mainCard .contentCard .circle-bg-behind {
    border: 1px solid var(--bg_3);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .35);
    z-index: 0;
    width: 214px;
    height: 214px;
    filter: blur(7px);
    position: absolute;
    top: -14%;
    left: calc(50% - 107px);
    bottom: 0;
    right: 0;
}

#tableMainBody .contentCard .textCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tableMainBody .contentCard .textCard .pokeId {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);

}

#tableMainBody .contentCard .textCard .pokeName {
    font-size: 2.6rem;
    font-weight: 900;
    filter: drop-shadow(4px 5px 3px #000);
    color: var(--white);
}

#tableMainBody .contentCard .textCard .height {
    font-size: 1.2rem;
    font-weight: 600;
}

#tableMainBody .isFavorite {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    filter: drop-shadow(4px 4px 3px black);
}

#tableMainBody .isFavorite>i {
    font-size: 1.5rem;
    color: var(--white);
}

.selectorPokeBall {
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectorPokeBall>i {
    font-size: 2.5rem;
    color: var(--white);
    animation: click-pokeball 1s 0s ease-in-out infinite;
    animation-direction: alternate;
}

#pokeball {
    display: inline-block;
    background-image: url(../img/favicon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 80px;
    height: 80px;
    bottom: 3%;
    right: 5%;
    filter: drop-shadow(1px 5px 7px #000);
    cursor: pointer;
    transition: transform .3s ease;
}

#mainFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.15vw;
}

.footBtn {
    width: 8vw;
    height: 2.5vw;
    border-radius: 30px;
    background-color: var(--white);
    border: 1px solid transparent;
    box-shadow: 5px 6px 7px rgba(0, 0, 0, .5);
}

/* << Media Queries >> */

@media (min-width: 768px) {
    h1>img {
        width: 60vw;
    }

    #tableMainBody {
        grid-template-columns: 1fr 1fr;
    }
}

/* TODO: @media (1200px <= width <= 1440px) esta media funciona igual que la de la linea (min-width: 1200px) and (max-width: 1440px) */
@media (1200px <=width <=1440px) {
    #tableMainBody {
        grid-template-columns: .7fr .7fr .7fr;
    }

    #tableMainBody .contentCard {
        padding-top: 8vw;
    }

    h1>img {
        width: 36vw;
    }

    .selectorPokeBall {
        position: fixed;
        bottom: 2%;
        right: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .selectorPokeBall>i {
        font-size: 2.5rem;
        color: var(--white);
        animation: click-pokeball 1s 0s ease-in-out infinite;
        animation-direction: alternate;
    }

    #pokeball {
        display: inline-block;
        background-image: url(../img/favicon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 80px;
        height: 80px;
        bottom: 3%;
        right: 5%;
        filter: drop-shadow(1px 5px 7px #000);
        cursor: pointer;
        transition: transform .3s ease;
    }

    #pokeball:hover {
        transform: scale(1.05);
    }
}

@media (min-width: 1441px) {
    #tableMainBody {
        grid-template-columns: .7fr .7fr .7fr;
    }

    h1>img {
        width: 36vw;
    }

    .selectorPokeBall {
        bottom: 3%;
        right: 5%;
    }

    .selectorPokeBall>i {
        font-size: 4rem;
    }

    #pokeball {
        bottom: 3%;
        right: 5%;
        width: 100px;
        height: 100px;
    }
}

/* << Animaciones >> */

@keyframes click-pokeball {
    from {
        transform: translateY(0vw)
    }

    to {
        transform: translateY(-1vw);
    }
}